<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Intergate Security Gateway</display-name>
	<description>Security Gateway for authentication with SAML</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/securityContext.xml
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>saml</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>saml</servlet-name>
		<url-pattern>/saml/web/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>de.hska.intergate.saml.manage.api</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<!-- Security for the REST API -->
	<security-constraint>
		<display-name>Restricted API Request</display-name>
		<web-resource-collection>
			<web-resource-name>API Access Restriction</web-resource-name>
			<!-- Constrains the url -->
			<url-pattern>/rest/*</url-pattern>
			<!-- Defines the method to be constrained -->
			<!-- <http-method>{GET|POST|PUT|DELETE}</http-method> -->
		</web-resource-collection>
		<auth-constraint>
			<!-- Which role has access to the resource? Without role authentication 
				still is necessary -->
			<role-name>restapi</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Defines the authentication method to be used -->
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<!-- Is needed when specifying roles in auth-constraint -->
	<security-role>
	<role-name>restapi</role-name>
	</security-role>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>javax.servlet.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>

</web-app>